<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lding.jk.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.lding.jk.pojo.po.SysRole" >
    <id column="id" property="id" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from sys_role
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.lding.jk.pojo.po.SysRole" >
    insert into sys_role (id, name)
    values (#{id,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lding.jk.pojo.po.SysRole" >
    update sys_role
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=TINYINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select id, name
    from sys_role
    where id = #{id,jdbcType=TINYINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name
    from sys_role
  </select>
</mapper>