<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lding.jk.mapper.SysRoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.lding.jk.pojo.po.SysRoleResource" >
    <id column="resource_id" property="resourceId" jdbcType="TINYINT" />
    <id column="role_id" property="roleId" jdbcType="TINYINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from sys_role_resource
    where resource_id = #{resourceId,jdbcType=TINYINT}
      and role_id = #{roleId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.lding.jk.pojo.po.SysRoleResource" >
    insert into sys_role_resource (resource_id, role_id)
    values (#{resourceId,jdbcType=TINYINT}, #{roleId,jdbcType=TINYINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select resource_id, role_id
    from sys_role_resource
  </select>
</mapper>